import {
{% set validatorSet = [] %}
{% for field in model.fields %}
  {% for validator in field.validators %}
    {% set cleanValidator = validator.replace('()', '').replace('(', '').split(',')[0].trim() %}
    {% if cleanValidator not in validatorSet %}
      {% set _ = validatorSet.push(cleanValidator) %}
  {{ cleanValidator }},
    {% endif %}
  {% endfor %}
{% endfor %}
  IsOptional,
} from 'class-validator';
import { Transform } from 'class-transformer';

export class {{ model.updateDtoName }} {
{% for field in model.fields %}
  @IsOptional()
  {% if field.type === 'string' %}
  @Transform(({ value }) => value?.trim()) // Sanitize: trim whitespace
  {% endif %}
  {% for validator in field.validators %}
  @{{ validator }}
  {% endfor %}
  {{ field.name }}?: {{ field.tsType }};

{% endfor %}
}
