import {
  IsOptional,
{% set validatorSet = [] %}
{% for field in model.fields %}
  {% for validator in field.validators %}
    {% set cleanValidator = validator.split('(')[0].trim() %}
    {% if cleanValidator not in validatorSet and cleanValidator != 'IsOptional' %}
      {% set _ = validatorSet.push(cleanValidator) %}
  {{ cleanValidator }},
    {% endif %}
  {% endfor %}
{% endfor %}
} from 'class-validator';
import { Transform, Type } from 'class-transformer';
import { ApiProperty } from '@nestjs/swagger';

export class {{ model.createDtoName }} {
{% for field in model.fields %}
  {% if field.apiExample %}
  @ApiProperty({
    description: '{{ field.apiDescription | default(field.name) }}',
    example: {{ field.apiExample | safe }},
    {% if field.required and not field.defaultValue %}required: true,{% else %}required: false,{% endif %}
    {% if field.minLength %}minLength: {{ field.minLength }},{% endif %}
    {% if field.maxLength %}maxLength: {{ field.maxLength }},{% endif %}
    {% if field.min %}minimum: {{ field.min }},{% endif %}
    {% if field.max %}maximum: {{ field.max }},{% endif %}
    {% if field.type === 'array' %}type: 'array',{% endif %}
  })
  {% endif %}
  {% if field.required and not field.defaultValue %}
  {% if field.type === 'string' %}
  @Transform(({ value }) => value?.trim()) // Sanitize: trim whitespace
  {% endif %}
  {% for validator in field.validators %}
  @{{ validator }}
  {% endfor %}
  {% if field.enhancedValidators %}
  {% for enhancedValidator in field.enhancedValidators %}
  @{{ enhancedValidator }}()
  {% endfor %}
  {% endif %}
  {% if field.type === 'Date' %}
  @Type(() => Date)
  {% endif %}
  {{ field.name }}!: {{ field.tsType }};
  {% else %}
  @IsOptional()
  {% if field.type === 'string' %}
  @Transform(({ value }) => value?.trim()) // Sanitize: trim whitespace
  {% endif %}
  {% for validator in field.validators %}
  @{{ validator }}
  {% endfor %}
  {% if field.enhancedValidators %}
  {% for enhancedValidator in field.enhancedValidators %}
  @{{ enhancedValidator }}()
  {% endfor %}
  {% endif %}
  {% if field.type === 'Date' %}
  @Type(() => Date)
  {% endif %}
  {{ field.name }}?: {{ field.tsType }};
  {% endif %}

{% endfor %}
}
