import {
{% set validatorSet = [] %}
{% for field in model.fields %}
  {% for validator in field.validators %}
    {% set cleanValidator = validator.split('(')[0] %}
    {% if cleanValidator not in validatorSet %}
      {% set _ = validatorSet.push(cleanValidator) %}
  {{ cleanValidator }},
    {% endif %}
  {% endfor %}
{% endfor %}
  IsOptional,
} from 'class-validator';

export class {{ model.createDtoName }} {
{% for field in model.fields %}
  {% if field.required %}
  {% for validator in field.validators %}
  @{{ validator }}
  {% endfor %}
  {{ field.name }}: {{ field.tsType }};
  {% else %}
  @IsOptional()
  {% for validator in field.validators %}
  @{{ validator }}
  {% endfor %}
  {{ field.name }}?: {{ field.tsType }};
  {% endif %}

{% endfor %}
}
