import { Module } from '@nestjs/common';
import { ConfigModule } from '@nestjs/config';
{% if databaseType === 'MongoDB' %}
import { MongooseModule } from '@nestjs/mongoose';
{% else %}
import { TypeOrmModule } from '@nestjs/typeorm';
{% endif %}
import { AppController } from './app.controller';
import { AppService } from './app.service';
{% if models and models.length > 0 %}
// Generated model modules
{% for model in models %}
import { {{ model.name }}Module } from './modules/{{ model.nameKebab }}/{{ model.fileName }}.module';
{% endfor %}
{% endif %}

@Module({
  imports: [
    ConfigModule.forRoot({
      isGlobal: true,
    }),
{% if databaseType === 'MongoDB' %}
    MongooseModule.forRoot(process.env.DATABASE_URL || '{{ connectionString }}'),
{% else %}
    TypeOrmModule.forRoot({
      type: '{{ databaseType | lower }}',
      url: process.env.DATABASE_URL || '{{ connectionString }}',
      autoLoadEntities: true,
      synchronize: {{ autoMigration === 'push' }},
    }),
{% endif %}
{% if models and models.length > 0 %}
    // Generated modules
    {% for model in models %}{{ model.name }}Module,
    {% endfor %}
{% endif %}
  ],
  controllers: [AppController],
  providers: [AppService],
})
export class AppModule {}
